body {
  font-family: 'Solitreo', cursive;
  background-color: #0c2392;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h1 {
  font-family: 'Racing Sans One', sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 1.3em;
  color: #f0f0f0;
}
nav {
  background-color: #000c3f; /* azul navy más oscuro */
  padding: 10px 0;
}


.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Racing Sans One', sans-serif;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.nav li a:hover {
  color: #ffcc00;
}
header {
  background-color: white;
  padding: 50px 0;
}

.logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

