body {
  font-family: 'Solitreo', cursive;
  background-color: #0c2392;
  color: white;
  text-align: center;
  padding: 50px;
  margin: 0;
}

h1 {
  font-family: 'Racing Sans One', sans-serif;
  font-size: 3em;
  margin-bottom: 10px;
  color: white;
}

p {
  font-size: 1.3em;
  color: #f0f0f0;
}
